workflows/instagram-editor/workflow-instagram-video-editor-v5.json
{
  "name": "Instagram Video Editor & Publisher (FIXED)",
  "nodes": [
    {"parameters":{"httpMethod":"POST","path":"video-edit-fixed","responseMode":"responseNode","options":{}},"name":"Webhook: Start Video Edit","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1600,300],"webhookId":"instagram-video-edit-fixed","id":"446db417-1352-4eab-963e-82a1f3a91a4a"},
    {"parameters":{"jsCode":"const body = $input.first().json.body;\nif (!body.video_urls || !Array.isArray(body.video_urls) || body.video_urls.length === 0) {\n  throw new Error('video_urls est requis et doit être un tableau non-vide');\n}\nconst projectId = 'webhook_' + Date.now();\nconst tempDir = '/tmp/n8n/' + projectId;\nreturn [{\n  json: {\n    source: 'webhook',\n    project_id: projectId,\n    temp_dir: tempDir,\n    video_urls: body.video_urls,\n    video_count: body.video_urls.length,\n    music_url: body.music_url || '',\n    has_music: !!(body.music_url && body.music_url.length > 0),\n    text_overlay: body.text || '',\n    caption: body.caption || 'New Video Post'\n  }\n}];"},"name":"Normalize Webhook Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1360,300],"id":"6dbe0f8f-2087-430f-8fcd-aea581dafdc9"},
    {"parameters":{"updates":["message"],"additionalFields":{}},"name":"Telegram: Upload Video","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-1600,-100],"webhookId":"telegram-video-upload-fixed","credentials":{"telegramApi":{"id":"K9X5ZxT7qeNTjT7i","name":"Telegram account"}},"id":"ac64d0de-de94-4f65-a96d-ffd3a0ff9942"},
    {"parameters":{"jsCode":"const msg = $input.first().json.message;\nconst chatId = msg.chat.id;\nlet caption = 'Nouvelle vidéo';\nlet textOverlay = '';\n\n// Parser le texte/caption\nif (msg.text) {\n  const lines = msg.text.split('\\n');\n  lines.forEach(line => {\n    if (line.startsWith('/edit')) {\n      caption = line.replace('/edit', '').trim() || caption;\n    } else if (line.startsWith('Caption:')) {\n      caption = line.replace('Caption:', '').trim();\n    } else if (line.startsWith('Text:')) {\n      textOverlay = line.replace('Text:', '').trim();\n    }\n  });\n} else if (msg.caption) {\n  caption = msg.caption;\n}\n\n// Récupérer file_id vidéo\nlet videoFileId = null;\nif (msg.video) {\n  videoFileId = msg.video.file_id;\n} else if (msg.document && msg.document.mime_type && msg.document.mime_type.startsWith('video/')) {\n  videoFileId = msg.document.file_id;\n}\n\n// Récupérer file_id audio - VALIDATION STRICTE\nlet audioFileId = null;\nlet hasValidAudio = false;\n\nif (msg.audio && msg.audio.file_id) {\n  audioFileId = msg.audio.file_id;\n  hasValidAudio = true;\n} else if (msg.voice && msg.voice.file_id) {\n  audioFileId = msg.voice.file_id;\n  hasValidAudio = true;\n} else if (msg.document && msg.document.mime_type && msg.document.mime_type.startsWith('audio/') && msg.document.file_id) {\n  audioFileId = msg.document.file_id;\n  hasValidAudio = true;\n}\n\nif (!videoFileId) {\n  throw new Error('Aucune vidéo trouvée. Envoyez une vidéo.');\n}\n\nconst projectId = 'tg_' + Date.now();\nconst tempDir = '/tmp/n8n/' + projectId;\n\nreturn [{\n  json: {\n    source: 'telegram',\n    chat_id: chatId,\n    project_id: projectId,\n    temp_dir: tempDir,\n    video_file_id: videoFileId,\n    audio_file_id: audioFileId,\n    has_audio: hasValidAudio,\n    caption: caption,\n    text_overlay: textOverlay\n  }\n}];"},"name":"Parse Telegram Video","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1360,-100],"id":"65de18d3-4b71-45d6-9277-1900709df822"},
    {"parameters":{"command":"=mkdir -p {{ $json.temp_dir }}"},"name":"Create Telegram Temp Dir","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-1120,-100],"id":"7a74afcb-8b2f-445a-b206-7d3ea650bcf4"},
    {"parameters":{"resource":"file","fileId":"={{ $('Parse Telegram Video').first().json.video_file_id }}","additionalFields":{}},"name":"Download Telegram Video","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-880,-100],"credentials":{"telegramApi":{"id":"K9X5ZxT7qeNTjT7i","name":"Telegram account"}},"id":"e8627ec1-301d-47ee-ab6d-bf23fbbd657e"},
    {"parameters":{"operation":"write","fileName":"={{ $('Parse Telegram Video').first().json.temp_dir }}/clip_0.mp4","options":{}},"name":"Save Telegram Video","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-640,-100],"id":"d8db3c7d-0d2c-45d1-88ce-b9fb219093df"},
    {"parameters":{"conditions":{"options":{"version":2,"caseSensitive":true,"typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Parse Telegram Video').first().json.has_audio }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}},{"leftValue":"={{ $('Parse Telegram Video').first().json.audio_file_id }}","rightValue":"","operator":{"type":"string","operation":"notEquals"}}]},"options":{"looseTypeValidation":true},"combineConditions":"and"},"name":"Has Telegram Audio?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-400,-100],"id":"19e05238-43e1-4a48-b567-d1bc0f0f9d99"},
    {"parameters":{"resource":"file","fileId":"={{ $('Parse Telegram Video').first().json.audio_file_id }}","additionalFields":{}},"name":"Download Telegram Audio","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-160,-200],"credentials":{"telegramApi":{"id":"K9X5ZxT7qeNTjT7i","name":"Telegram account"}},"id":"7292e323-e684-4730-8559-972214ef5bd8","onError":"continueRegularOutput"},
    {"parameters":{"jsCode":"// Vérifier si les données binaires existent et les transmettre\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const hasBinary = item.binary && Object.keys(item.binary).length > 0;\n  \n  if (hasBinary) {\n    // Transmettre les données avec binary intact\n    results.push({\n      json: { ...item.json, has_binary: true },\n      binary: item.binary\n    });\n  } else {\n    // Pas de binary - marquer comme skip\n    results.push({\n      json: { ...item.json, has_binary: false }\n    });\n  }\n}\n\nreturn results;"},"name":"Check & Pass Binary","type":"n8n-nodes-base.code","typeVersion":2,"position":[80,-200],"id":"check-binary-data-exists"},
    {"parameters":{"conditions":{"options":{"version":2,"caseSensitive":true,"typeValidation":"loose"},"conditions":[{"leftValue":"={{ $json.has_binary }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}]},"options":{}},"name":"Has Binary Data?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[200,-200],"id":"if-has-binary"},
    {"parameters":{"operation":"write","fileName":"={{ $('Parse Telegram Video').first().json.temp_dir }}/music.mp3","options":{}},"name":"Save Telegram Audio","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[420,-300],"id":"f4a05be9-2bd5-4da0-ace2-4b79006d8a8c"},
    {"parameters":{"method":"POST","url":"http://ollama:11434/api/generate","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\n  \"model\": \"qwen2.5-coder:3b-instruct\",\n  \"prompt\": \"Génère une caption Instagram courte et engageante pour une vidéo. Contexte: {{ $('Parse Telegram Video').first().json.caption }}. Réponds uniquement avec la caption.\",\n  \"stream\": false\n}","options":{"timeout":30000}},"name":"Qwen: Generate Caption","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-160,0],"onError":"continueRegularOutput","id":"3c2b3c0c-3a66-4a1f-a942-d15e69362b07"},
    {"parameters":{"jsCode":"const telegramData = $('Parse Telegram Video').first().json;\n\n// Récupérer la caption générée par LLM si disponible\nlet caption = telegramData.caption;\ntry {\n  const llmResponse = $('Qwen: Generate Caption').first().json.response;\n  if (llmResponse) caption = llmResponse;\n} catch (e) {}\n\n// Vérifier si le fichier audio a été sauvegardé avec succès\n// On check si Save Telegram Audio a été exécuté (via Has Binary Data? = true)\nlet hasMusic = false;\nlet musicFile = null;\n\ntry {\n  const saveAudioNode = $('Save Telegram Audio').first();\n  if (saveAudioNode && saveAudioNode.json) {\n    hasMusic = true;\n    musicFile = telegramData.temp_dir + '/music.mp3';\n  }\n} catch (e) {\n  // Le node Save Telegram Audio n'a pas été exécuté = pas d'audio\n  hasMusic = false;\n  musicFile = null;\n}\n\nreturn [{\n  json: {\n    source: 'telegram',\n    project_id: telegramData.project_id,\n    temp_dir: telegramData.temp_dir,\n    video_files: [telegramData.temp_dir + '/clip_0.mp4'],\n    video_count: 1,\n    music_file: musicFile,\n    has_music: hasMusic,\n    text_overlay: telegramData.text_overlay,\n    caption: caption,\n    chat_id: telegramData.chat_id\n  }\n}];"},"name":"Normalize Telegram Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[560,-100],"id":"d27f3201-d7c0-4d29-bf46-e7ff202f8381"},
    {"parameters":{"command":"=mkdir -p {{ $json.temp_dir }}"},"name":"Create Webhook Temp Dir","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-1120,300],"id":"6c9f33d6-6f9e-4310-a501-c066c57d52f2"},
    {"parameters":{"jsCode":"const data = $input.first().json;\nconst items = data.video_urls.map((url, index) => ({\n  json: {\n    ...data,\n    video_url: url,\n    video_index: index,\n    video_filename: `clip_${index}.mp4`\n  }\n}));\nreturn items;"},"name":"Split Video URLs","type":"n8n-nodes-base.code","typeVersion":2,"position":[-880,300],"id":"063078e1-376c-42e7-bfad-4eef8b25922e"},
    {"parameters":{"url":"={{ $json.video_url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"name":"Download Video Clip","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-640,300],"id":"98c5addc-c199-46f6-b41e-18139cbb5bd8"},
    {"parameters":{"operation":"write","fileName":"={{ $('Split Video URLs').item.json.temp_dir + '/' + $('Split Video URLs').item.json.video_filename }}","options":{}},"name":"Save Video Clip","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-400,300],"id":"af58e9d1-b329-44d4-861c-2bea733cd8f9"},
    {"parameters":{"conditions":{"options":{"version":2,"caseSensitive":true,"typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Normalize Webhook Data').first().json.has_music }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}]},"options":{}},"name":"Has Webhook Music?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-160,300],"id":"ff395c80-f660-4a83-8a02-37943a810dec"},
    {"parameters":{"url":"={{ $('Normalize Webhook Data').first().json.music_url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"name":"Download Webhook Music","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[80,200],"id":"a4e4a108-9a9b-4854-be07-ab630e97bc99"},
    {"parameters":{"operation":"write","fileName":"={{ $('Normalize Webhook Data').first().json.temp_dir }}/music.mp3","options":{}},"name":"Save Webhook Music","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[320,200],"id":"c9d22f9d-2f38-4453-a2bb-d57a2c306801"},
    {"parameters":{"jsCode":"const webhookData = $('Normalize Webhook Data').first().json;\nconst videoFiles = [];\nfor (let i = 0; i < webhookData.video_count; i++) {\n  videoFiles.push(webhookData.temp_dir + '/clip_' + i + '.mp4');\n}\nreturn [{\n  json: {\n    source: 'webhook',\n    project_id: webhookData.project_id,\n    temp_dir: webhookData.temp_dir,\n    video_files: videoFiles,\n    video_count: webhookData.video_count,\n    music_file: webhookData.has_music ? webhookData.temp_dir + '/music.mp3' : null,\n    has_music: webhookData.has_music,\n    text_overlay: webhookData.text_overlay,\n    caption: webhookData.caption,\n    chat_id: null\n  }\n}];"},"name":"Finalize Webhook Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[560,300],"id":"661aa6b9-0f6c-4989-9d84-6d7fa21ef2b0"},
    {"parameters":{"mode":"chooseBranch","output":"empty"},"name":"Merge All Flows","type":"n8n-nodes-base.merge","typeVersion":3,"position":[800,100],"id":"b253cbe7-e1d5-40ce-b1eb-e903542f5bde"},
    {"parameters":{"jsCode":"const data = $input.first().json;\nconst tempDir = data.temp_dir;\nlet concatContent = '';\ndata.video_files.forEach(file => {\n  concatContent += `file '${file}'\\n`;\n});\nreturn [{\n  json: {\n    ...data,\n    concat_content: concatContent,\n    concat_file: tempDir + '/concat.txt',\n    output_merged: tempDir + '/merged.mp4',\n    output_final: tempDir + '/final_' + data.project_id + '.mp4'\n  }\n}];"},"name":"Prepare FFmpeg Concat","type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,100],"id":"e8622f1c-dc4b-4788-b708-e6ba91e0e474"},
    {"parameters":{"command":"=cat << 'CONCATEOF' > {{ $json.concat_file }}\n{{ $json.concat_content }}CONCATEOF"},"name":"Write Concat File","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1280,100],"id":"26b45e29-d4ee-4faf-9cfb-70cb59b89dc2"},
    {"parameters":{"command":"=#!/bin/bash\nset -e\nTEMP_DIR=\"{{ $json.temp_dir }}\"\nOUTPUT=\"{{ $json.output_final }}\"\nTEXT=\"{{ $json.text_overlay }}\"\nHAS_MUSIC=\"{{ $json.has_music }}\"\nMUSIC_FILE=\"{{ $json.music_file }}\"\nffmpeg -y -f concat -safe 0 -i \"${TEMP_DIR}/concat.txt\" -c copy \"${TEMP_DIR}/merged.mp4\" 2>&1\nif [ -n \"$TEXT\" ] && [ \"$TEXT\" != \"\" ]; then\n  ffmpeg -y -i \"${TEMP_DIR}/merged.mp4\" -vf \"drawtext=text='$TEXT':fontcolor=white:fontsize=64:box=1:boxcolor=black@0.6:boxborderw=10:x=(w-text_w)/2:y=h-th-80\" -codec:a copy \"${TEMP_DIR}/with_text.mp4\" 2>&1\n  mv \"${TEMP_DIR}/with_text.mp4\" \"${TEMP_DIR}/merged.mp4\"\nfi\nif [ \"$HAS_MUSIC\" = \"true\" ] && [ -f \"$MUSIC_FILE\" ]; then\n  HAS_ORIG_AUDIO=$(ffprobe -i \"${TEMP_DIR}/merged.mp4\" -show_streams -select_streams a -loglevel error | grep -c 'index' || echo '0')\n  if [ \"$HAS_ORIG_AUDIO\" -gt 0 ]; then\n    ffmpeg -y -i \"${TEMP_DIR}/merged.mp4\" -i \"$MUSIC_FILE\" -filter_complex \"[0:a][1:a]amix=inputs=2:duration=shortest:dropout_transition=2[aout]\" -map 0:v -map \"[aout]\" -c:v copy -c:a aac -b:a 192k \"${TEMP_DIR}/with_music.mp4\" 2>&1\n  else\n    ffmpeg -y -i \"${TEMP_DIR}/merged.mp4\" -i \"$MUSIC_FILE\" -map 0:v -map 1:a -c:v copy -c:a aac -b:a 192k -shortest \"${TEMP_DIR}/with_music.mp4\" 2>&1\n  fi\n  mv \"${TEMP_DIR}/with_music.mp4\" \"${TEMP_DIR}/merged.mp4\"\nfi\nffmpeg -y -i \"${TEMP_DIR}/merged.mp4\" -c:v libx264 -crf 23 -preset fast -vf \"scale=1080:1920:force_original_aspect_ratio=decrease,pad=1080:1920:(ow-iw)/2:(oh-ih)/2,setsar=1\" -c:a aac -b:a 128k -r 30 -pix_fmt yuv420p -movflags +faststart \"$OUTPUT\" 2>&1\necho \"SUCCESS: Video ready at $OUTPUT\""},"name":"FFmpeg: Process Video","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1520,100],"onError":"continueErrorOutput","id":"e1f14213-0024-431f-8600-6e2acae09c76"},
    {"parameters":{"conditions":{"options":{"version":2,"caseSensitive":true,"typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.stdout }}","rightValue":"SUCCESS","operator":{"type":"string","operation":"contains"}}]},"options":{}},"name":"FFmpeg Success?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1760,100],"id":"cce46ea8-bef6-4659-b514-36feac7504b5"},
    {"parameters":{"filePath":"={{ $('Prepare FFmpeg Concat').first().json.output_final }}"},"name":"Read Final Video","type":"n8n-nodes-base.readBinaryFile","typeVersion":1,"position":[2000,0],"id":"dcd35e1b-06ad-462f-9c30-5e01252297bf"},
    {"parameters":{"method":"POST","url":"https://api.cloudinary.com/v1_1/dxpj6gxjh/video/upload","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"file","parameterType":"formBinaryData","inputDataFieldName":"data"},{"name":"upload_preset","value":"ml_default"},{"name":"public_id","value":"={{ $('Prepare FFmpeg Concat').first().json.project_id }}"},{"name":"resource_type","value":"video"}]},"options":{"timeout":120000}},"name":"Upload to Cloudinary","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2240,0],"credentials":{"httpBasicAuth":{"id":"j7EB5n6xLUKbgDAx","name":"Cloudinary API"}},"id":"21fda423-da67-4673-95fa-02b453f46e33"},
    {"parameters":{"chatId":"={{ $('Prepare FFmpeg Concat').first().json.chat_id || $env.TELEGRAM_CHAT_ID || '8263106324' }}","text":"=🎬 **Nouvelle vidéo prête !**\n\nProjet: {{ $('Prepare FFmpeg Concat').first().json.project_id }}\nSource: {{ $('Prepare FFmpeg Concat').first().json.source }}\nTexte: {{ $('Prepare FFmpeg Concat').first().json.text_overlay || 'Aucun' }}\nCaption: {{ $('Prepare FFmpeg Concat').first().json.caption }}\n\n🔗 Preview: {{ $json.secure_url }}\n\n✅ Approuver: /approve_{{ $('Prepare FFmpeg Concat').first().json.project_id }}\n❌ Rejeter: /reject_{{ $('Prepare FFmpeg Concat').first().json.project_id }}","additionalFields":{"appendAttribution":false}},"name":"Send Telegram Approval","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2480,0],"credentials":{"telegramApi":{"id":"K9X5ZxT7qeNTjT7i","name":"Telegram account"}},"id":"b8bb988e-1198-442a-a665-20e81a18c350"},
    {"parameters":{"resume":"webhook","options":{"webhookSuffix":"={{ $('Prepare FFmpeg Concat').first().json.project_id }}"}},"name":"Wait for Approval","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2720,0],"webhookId":"wait-approval-fixed","id":"4ecdbb8a-818e-46c7-9650-3ca5a9b056c2"},
    {"parameters":{"conditions":{"options":{"version":2,"caseSensitive":true,"typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.body?.action || $json.query?.action || 'approve' }}","rightValue":"approve","operator":{"type":"string","operation":"equals"}}]},"options":{}},"name":"Is Approved?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2960,0],"id":"3326a1d8-0626-4004-b282-3ebf47b4e1f5"},
    {"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/{{ $env.INSTAGRAM_USER_ID || '17841478707012581' }}/media","authentication":"predefinedCredentialType","nodeCredentialType":"facebookGraphApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"media_type","value":"REELS"},{"name":"video_url","value":"={{ $('Upload to Cloudinary').first().json.secure_url }}"},{"name":"caption","value":"={{ $('Prepare FFmpeg Concat').first().json.caption }}"}]},"options":{}},"name":"1. Initialize Instagram Upload","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3200,-100],"credentials":{"facebookGraphApi":{"id":"wH3cFtLfrvMdfMoB","name":"Facebook Graph account"}},"id":"eec43941-fdfd-4fda-a784-501dcff3857f"},
    {"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/{{ $env.INSTAGRAM_USER_ID || '17841478707012581' }}/media_publish","authentication":"predefinedCredentialType","nodeCredentialType":"facebookGraphApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"creation_id","value":"={{ $json.id }}"}]},"options":{}},"name":"2. Publish to Instagram","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3440,-100],"credentials":{"facebookGraphApi":{"id":"wH3cFtLfrvMdfMoB","name":"Facebook Graph account"}},"id":"f28e9f38-041f-4d5a-852a-9de48846a8aa"},
    {"parameters":{"command":"=rm -rf \"{{ $('Prepare FFmpeg Concat').first().json.temp_dir }}\""},"name":"Cleanup Temp Files","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[3680,-100],"onError":"continueRegularOutput","id":"40814450-1634-4fd0-a565-5cb7656e5a74"},
    {"parameters":{"respondWith":"json","responseBody":"={{ { success: true, instagram_id: $('2. Publish to Instagram').first().json.id, project_id: $('Prepare FFmpeg Concat').first().json.project_id, cloudinary_url: $('Upload to Cloudinary').first().json.secure_url } }}","options":{}},"name":"Success Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[3920,-200],"id":"9dcae19c-0bae-4973-8d0b-fbef5e5a5872"},
    {"parameters":{"chatId":"={{ $('Prepare FFmpeg Concat').first().json.chat_id || $env.TELEGRAM_CHAT_ID || '8263106324' }}","text":"=✅ **Vidéo publiée sur Instagram !**\n\nProjet: {{ $('Prepare FFmpeg Concat').first().json.project_id }}\nID Instagram: {{ $('2. Publish to Instagram').first().json.id }}\n🔗 Cloudinary: {{ $('Upload to Cloudinary').first().json.secure_url }}","additionalFields":{}},"name":"Telegram Success Notification","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3920,0],"credentials":{"telegramApi":{"id":"K9X5ZxT7qeNTjT7i","name":"Telegram account"}},"id":"7065570a-1207-48e8-abf0-b49906bd0395"},
    {"parameters":{"command":"=rm -rf \"{{ $('Prepare FFmpeg Concat').first().json.temp_dir }}\""},"name":"Cleanup After Reject","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[3200,100],"onError":"continueRegularOutput","id":"384f62cd-adde-47e6-89e9-d571cdf0e88f"},
    {"parameters":{"respondWith":"json","responseBody":"={{ { success: false, error: 'Rejected by user', project_id: $('Prepare FFmpeg Concat').first().json.project_id } }}","options":{"responseCode":400}},"name":"Rejected Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[3440,100],"id":"bf56f5fb-5605-452b-9e94-62b64ae39cca"},
    {"parameters":{"chatId":"={{ $('Prepare FFmpeg Concat').first().json.chat_id || $env.TELEGRAM_CHAT_ID || '8263106324' }}","text":"=❌ **Vidéo rejetée**\n\nProjet: {{ $('Prepare FFmpeg Concat').first().json.project_id }}\nFichiers temporaires supprimés.","additionalFields":{}},"name":"Telegram Rejected Notification","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3440,200],"credentials":{"telegramApi":{"id":"K9X5ZxT7qeNTjT7i","name":"Telegram account"}},"id":"6d267027-c4dd-4d21-913a-0d774179651f"},
    {"parameters":{"chatId":"={{ $('Prepare FFmpeg Concat').first().json.chat_id || $env.TELEGRAM_CHAT_ID || '8263106324' }}","text":"=❌ **Erreur FFmpeg**\n\nProjet: {{ $('Prepare FFmpeg Concat').first().json.project_id }}\nErreur: {{ $json.stderr || $json.stdout || 'Erreur inconnue' }}","additionalFields":{}},"name":"FFmpeg Error Notification","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2000,200],"credentials":{"telegramApi":{"id":"K9X5ZxT7qeNTjT7i","name":"Telegram account"}},"id":"974897a0-ef49-4b3b-9233-bb2fe39f37e5"},
    {"parameters":{"command":"=rm -rf \"{{ $('Prepare FFmpeg Concat').first().json.temp_dir }}\""},"name":"Cleanup After Error","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[2240,200],"onError":"continueRegularOutput","id":"4766e1fa-45f6-4e6e-a16c-81cf9d29ad58"},
    {"parameters":{"respondWith":"json","responseBody":"={{ { success: false, error: 'FFmpeg processing failed', details: $('FFmpeg: Process Video').first().json.stderr } }}","options":{"responseCode":500}},"name":"Error Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[2480,200],"id":"76a37285-8ac5-47c6-9094-65c7a1f2f6ae"}
  ],
  "connections": {
    "Webhook: Start Video Edit":{"main":[[{"node":"Normalize Webhook Data","type":"main","index":0}]]},
    "Normalize Webhook Data":{"main":[[{"node":"Create Webhook Temp Dir","type":"main","index":0}]]},
    "Create Webhook Temp Dir":{"main":[[{"node":"Split Video URLs","type":"main","index":0}]]},
    "Split Video URLs":{"main":[[{"node":"Download Video Clip","type":"main","index":0}]]},
    "Download Video Clip":{"main":[[{"node":"Save Video Clip","type":"main","index":0}]]},
    "Save Video Clip":{"main":[[{"node":"Has Webhook Music?","type":"main","index":0}]]},
    "Has Webhook Music?":{"main":[[{"node":"Download Webhook Music","type":"main","index":0}],[{"node":"Finalize Webhook Data","type":"main","index":0}]]},
    "Download Webhook Music":{"main":[[{"node":"Save Webhook Music","type":"main","index":0}]]},
    "Save Webhook Music":{"main":[[{"node":"Finalize Webhook Data","type":"main","index":0}]]},
    "Finalize Webhook Data":{"main":[[{"node":"Merge All Flows","type":"main","index":0}]]},
    "Telegram: Upload Video":{"main":[[{"node":"Parse Telegram Video","type":"main","index":0}]]},
    "Parse Telegram Video":{"main":[[{"node":"Create Telegram Temp Dir","type":"main","index":0}]]},
    "Create Telegram Temp Dir":{"main":[[{"node":"Download Telegram Video","type":"main","index":0}]]},
    "Download Telegram Video":{"main":[[{"node":"Save Telegram Video","type":"main","index":0}]]},
    "Save Telegram Video":{"main":[[{"node":"Has Telegram Audio?","type":"main","index":0},{"node":"Qwen: Generate Caption","type":"main","index":0}]]},
    "Has Telegram Audio?":{"main":[[{"node":"Download Telegram Audio","type":"main","index":0}],[{"node":"Normalize Telegram Data","type":"main","index":0}]]},
    "Download Telegram Audio":{"main":[[{"node":"Check & Pass Binary","type":"main","index":0}]]},
    "Check & Pass Binary":{"main":[[{"node":"Has Binary Data?","type":"main","index":0}]]},
    "Has Binary Data?":{"main":[[{"node":"Save Telegram Audio","type":"main","index":0}],[{"node":"Normalize Telegram Data","type":"main","index":0}]]},
    "Save Telegram Audio":{"main":[[{"node":"Normalize Telegram Data","type":"main","index":0}]]},
    "Qwen: Generate Caption":{"main":[[{"node":"Normalize Telegram Data","type":"main","index":0}]]},
    "Normalize Telegram Data":{"main":[[{"node":"Merge All Flows","type":"main","index":1}]]},
    "Merge All Flows":{"main":[[{"node":"Prepare FFmpeg Concat","type":"main","index":0}]]},
    "Prepare FFmpeg Concat":{"main":[[{"node":"Write Concat File","type":"main","index":0}]]},
    "Write Concat File":{"main":[[{"node":"FFmpeg: Process Video","type":"main","index":0}]]},
    "FFmpeg: Process Video":{"main":[[{"node":"FFmpeg Success?","type":"main","index":0}]]},
    "FFmpeg Success?":{"main":[[{"node":"Read Final Video","type":"main","index":0}],[{"node":"FFmpeg Error Notification","type":"main","index":0}]]},
    "Read Final Video":{"main":[[{"node":"Upload to Cloudinary","type":"main","index":0}]]},
    "Upload to Cloudinary":{"main":[[{"node":"Send Telegram Approval","type":"main","index":0}]]},
    "Send Telegram Approval":{"main":[[{"node":"Wait for Approval","type":"main","index":0}]]},
    "Wait for Approval":{"main":[[{"node":"Is Approved?","type":"main","index":0}]]},
    "Is Approved?":{"main":[[{"node":"1. Initialize Instagram Upload","type":"main","index":0}],[{"node":"Cleanup After Reject","type":"main","index":0}]]},
    "1. Initialize Instagram Upload":{"main":[[{"node":"2. Publish to Instagram","type":"main","index":0}]]},
    "2. Publish to Instagram":{"main":[[{"node":"Cleanup Temp Files","type":"main","index":0}]]},
    "Cleanup Temp Files":{"main":[[{"node":"Success Response","type":"main","index":0},{"node":"Telegram Success Notification","type":"main","index":0}]]},
    "Cleanup After Reject":{"main":[[{"node":"Rejected Response","type":"main","index":0},{"node":"Telegram Rejected Notification","type":"main","index":0}]]},
    "FFmpeg Error Notification":{"main":[[{"node":"Cleanup After Error","type":"main","index":0}]]},
    "Cleanup After Error":{"main":[[{"node":"Error Response","type":"main","index":0}]]}
  },
  "settings": {"executionOrder": "v1"}
}
