workflows/instagram-editor/workflow-instagram-video-editor.json
{
  "name": "Instagram Video Editor & Publisher - Production Ready",
  "nodes": [
    {
      "parameters": {
        "path": "start-video-edit",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "video-edit-start"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "project_id",
              "name": "project_id",
              "value": "={{ $json.body.project_id || 'project_' + $now.toMillis() }}",
              "type": "string"
            },
            {
              "id": "video_clips",
              "name": "video_clips",
              "value": "={{ $json.body.video_clips }}",
              "type": "array"
            },
            {
              "id": "text_overlay",
              "name": "text_overlay",
              "value": "={{ $json.body.text || '' }}",
              "type": "string"
            },
            {
              "id": "music_url",
              "name": "music_url",
              "value": "={{ $json.body.music_url || '' }}",
              "type": "string"
            },
            {
              "id": "instagram_caption",
              "name": "instagram_caption",
              "value": "={{ $json.body.caption || 'New Video' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-variables",
      "name": "Set Project Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Télécharger tous les clips vidéo\nconst videoClips = $input.item.json.video_clips;\nconst projectId = $input.item.json.project_id;\nconst results = [];\n\nfor (let i = 0; i < videoClips.length; i++) {\n  const clip = videoClips[i];\n  results.push({\n    json: {\n      project_id: projectId,\n      clip_index: i,\n      clip_url: clip.url,\n      clip_name: `clip_${i}_${Date.now()}.mp4`,\n      duration: clip.duration || 5\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "split-clips",
      "name": "Split Video Clips",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.clip_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download-clip",
      "name": "Download Video Clip",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/tmp/n8n/{{ $json.project_id }}/{{ $json.clip_name }}",
        "dataPropertyName": "data",
        "options": {}
      },
      "id": "save-clip",
      "name": "Save Clip to Disk",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.music_url }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "check-music",
      "name": "Has Music?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "url": "={{ $('Set Project Variables').item.json.music_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download-music",
      "name": "Download Music",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/tmp/n8n/{{ $('Set Project Variables').item.json.project_id }}/music.mp3",
        "dataPropertyName": "data",
        "options": {}
      },
      "id": "save-music",
      "name": "Save Music to Disk",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [1780, 200]
    },
    {
      "parameters": {
        "jsCode": "// Créer le fichier concat.txt pour FFmpeg\nconst projectId = $input.first().json.project_id;\nconst items = $input.all();\n\nlet concatContent = '';\nfor (const item of items) {\n  if (item.json.clip_name) {\n    concatContent += `file '/tmp/n8n/${projectId}/${item.json.clip_name}'\\n`;\n  }\n}\n\nreturn [{\n  json: {\n    project_id: projectId,\n    concat_content: concatContent,\n    output_name: `final_${projectId}.mp4`\n  }\n}];"
      },
      "id": "create-concat-list",
      "name": "Create FFmpeg Concat List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "command": "=mkdir -p /tmp/n8n/{{ $json.project_id }}\necho '{{ $json.concat_content }}' > /tmp/n8n/{{ $json.project_id }}/concat.txt"
      },
      "id": "write-concat-file",
      "name": "Write Concat File",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [2220, 300]
    },
    {
      "parameters": {
        "command": "=PROJECT=/tmp/n8n/{{ $json.project_id }}\nOUTPUT=/tmp/n8n/{{ $json.project_id }}/{{ $json.output_name }}\nTEXT=\"{{ $('Set Project Variables').item.json.text_overlay }}\"\n\n# Concaténer les vidéos\nffmpeg -f concat -safe 0 -i $PROJECT/concat.txt -c copy $PROJECT/merged.mp4\n\n# Ajouter le texte overlay\nif [ ! -z \"$TEXT\" ]; then\n  ffmpeg -i $PROJECT/merged.mp4 \\\n    -vf \"drawtext=text='$TEXT':fontcolor=white:fontsize=48:box=1:boxcolor=black@0.5:boxborderw=5:x=(w-text_w)/2:y=h-th-50\" \\\n    -codec:a copy $PROJECT/with_text.mp4\n  mv $PROJECT/with_text.mp4 $PROJECT/merged.mp4\nfi\n\n# Ajouter la musique si présente\nif [ -f \"$PROJECT/music.mp3\" ]; then\n  ffmpeg -i $PROJECT/merged.mp4 -i $PROJECT/music.mp3 \\\n    -filter_complex \"[0:a][1:a]amix=inputs=2:duration=shortest[aout]\" \\\n    -map 0:v -map \"[aout]\" -c:v copy -c:a aac $PROJECT/with_music.mp4\n  mv $PROJECT/with_music.mp4 $PROJECT/merged.mp4\nfi\n\n# Convertir au format Instagram (H.265, 9:16)\nffmpeg -i $PROJECT/merged.mp4 \\\n  -c:v libx265 -crf 28 \\\n  -vf \"scale=1080:1920:force_original_aspect_ratio=decrease,pad=1080:1920:(ow-iw)/2:(oh-ih)/2\" \\\n  -c:a aac -b:a 128k \\\n  -r 30 -pix_fmt yuv420p \\\n  $OUTPUT\n\necho \"Final video: $OUTPUT\""
      },
      "id": "ffmpeg-assembly",
      "name": "FFmpeg: Assemble & Process Video",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [2440, 300]
    },
    {
      "parameters": {
        "fileSelector": "=/tmp/n8n/{{ $json.project_id }}/{{ $json.output_name }}",
        "options": {}
      },
      "id": "read-final-video",
      "name": "Read Final Video",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [2660, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "🎬 **Nouvelle vidéo prête !**\n\nProjet: {{ $('Set Project Variables').item.json.project_id }}\nTexte: {{ $('Set Project Variables').item.json.text_overlay }}\nCaption: {{ $('Set Project Variables').item.json.instagram_caption }}\n\n✅ Approuver : /approve_{{ $('Set Project Variables').item.json.project_id }}\n❌ Rejeter : /reject_{{ $('Set Project Variables').item.json.project_id }}",
        "additionalFields": {}
      },
      "id": "telegram-notification",
      "name": "Send for Approval (Telegram)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2880, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram_credentials",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "id": "telegram-trigger",
      "name": "Wait for Telegram Approval",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [3100, 300],
      "webhookId": "telegram-approval"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.message.text }}",
              "operation": "contains",
              "value2": "/approve"
            }
          ]
        }
      },
      "id": "check-approval",
      "name": "Is Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3320, 300]
    },
    {
      "parameters": {
        "command": "=stat -c %s /tmp/n8n/{{ $json.project_id }}/{{ $json.output_name }}"
      },
      "id": "get-file-size",
      "name": "Get Video File Size",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [3540, 240]
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "={{ $env.INSTAGRAM_USER_ID }}",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "media_type",
                "value": "REELS"
              },
              {
                "name": "upload_type",
                "value": "resumable"
              }
            ]
          }
        }
      },
      "id": "init-instagram-upload",
      "name": "1. Initialize Instagram Upload",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [3760, 240],
      "credentials": {
        "facebookGraphApi": {
          "id": "facebook_credentials",
          "name": "Facebook Graph API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.uri }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "offset",
              "value": "0"
            },
            {
              "name": "file_size",
              "value": "={{ $('Get Video File Size').item.json.stdout }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "upload-video",
      "name": "2. Upload Video to Instagram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3980, 240]
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "={{ $env.INSTAGRAM_USER_ID }}",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $('1. Initialize Instagram Upload').item.json.id }}"
              },
              {
                "name": "caption",
                "value": "={{ $('Set Project Variables').item.json.instagram_caption }}"
              }
            ]
          }
        }
      },
      "id": "publish-instagram",
      "name": "3. Publish to Instagram",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [4200, 240],
      "credentials": {
        "facebookGraphApi": {
          "id": "facebook_credentials",
          "name": "Facebook Graph API"
        }
      }
    },
    {
      "parameters": {
        "command": "=rm -rf /tmp/n8n/{{ $('Set Project Variables').item.json.project_id }}"
      },
      "id": "cleanup",
      "name": "Cleanup Temp Files",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [4420, 240]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "✅ **Vidéo publiée sur Instagram !**\n\nProjet: {{ $('Set Project Variables').item.json.project_id }}\nID Instagram: {{ $json.id }}\n\nVoir sur Instagram 🎉",
        "additionalFields": {}
      },
      "id": "success-notification",
      "name": "Success Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [4640, 240],
      "credentials": {
        "telegramApi": {
          "id": "telegram_credentials",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{"node": "Set Project Variables", "type": "main", "index": 0}]]
    },
    "Set Project Variables": {
      "main": [[{"node": "Split Video Clips", "type": "main", "index": 0}]]
    },
    "Split Video Clips": {
      "main": [[{"node": "Download Video Clip", "type": "main", "index": 0}]]
    },
    "Download Video Clip": {
      "main": [[{"node": "Save Clip to Disk", "type": "main", "index": 0}]]
    },
    "Save Clip to Disk": {
      "main": [[{"node": "Check Music?", "type": "main", "index": 0}]]
    },
    "Has Music?": {
      "main": [
        [{"node": "Download Music", "type": "main", "index": 0}],
        [{"node": "Create FFmpeg Concat List", "type": "main", "index": 0}]
      ]
    },
    "Download Music": {
      "main": [[{"node": "Save Music to Disk", "type": "main", "index": 0}]]
    },
    "Save Music to Disk": {
      "main": [[{"node": "Create FFmpeg Concat List", "type": "main", "index": 0}]]
    },
    "Create FFmpeg Concat List": {
      "main": [[{"node": "Write Concat File", "type": "main", "index": 0}]]
    },
    "Write Concat File": {
      "main": [[{"node": "FFmpeg: Assemble & Process Video", "type": "main", "index": 0}]]
    },
    "FFmpeg: Assemble & Process Video": {
      "main": [[{"node": "Read Final Video", "type": "main", "index": 0}]]
    },
    "Read Final Video": {
      "main": [[{"node": "Send for Approval (Telegram)", "type": "main", "index": 0}]]
    },
    "Send for Approval (Telegram)": {
      "main": [[{"node": "Wait for Telegram Approval", "type": "main", "index": 0}]]
    },
    "Wait for Telegram Approval": {
      "main": [[{"node": "Is Approved?", "type": "main", "index": 0}]]
    },
    "Is Approved?": {
      "main": [
        [{"node": "Get Video File Size", "type": "main", "index": 0}],
        []
      ]
    },
    "Get Video File Size": {
      "main": [[{"node": "1. Initialize Instagram Upload", "type": "main", "index": 0}]]
    },
    "1. Initialize Instagram Upload": {
      "main": [[{"node": "2. Upload Video to Instagram", "type": "main", "index": 0}]]
    },
    "2. Upload Video to Instagram": {
      "main": [[{"node": "3. Publish to Instagram", "type": "main", "index": 0}]]
    },
    "3. Publish to Instagram": {
      "main": [[{"node": "Cleanup Temp Files", "type": "main", "index": 0}]]
    },
    "Cleanup Temp Files": {
      "main": [[{"node": "Success Notification", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-19T10:00:00.000Z",
  "versionId": "production-v1"
}